
<div class="sidebar clear">
    <div class="samesidebar clear">
        <h2>Latest Articles</h2>
        <ul>
            <li><a href="#">Post Title one will be go here</a></li>
            <li><a href="#">Post Title two will be go here</a></li>
            <li><a href="#">Post Title three will be go here</a></li>
            <li><a href="#">Post Title four will be go here</a></li>
            <li><a href="#">Post Title five will be go here</a></li>
            <li><a href="#">Post Title six will be go here</a></li>
            <li><a href="#">Post Title seven will be go here</a></li>
            <li><a href="#">Post Title eight will be go here</a></li>
            <li><a href="#">Post Title nine will be go here</a></li>
        </ul>
    </div>

    <div class="samesidebar clear">
        <h2>Popular articles</h2>
        <div class="popular clear">
            <h3><a href="#">Post title will be go here</a></h3>
            <img src="../../../assets/images/img1.jpg" alt="">
            <p>The quick brown fox jumps over the lazy dog. Hello World. Sidebar text will go here. The quick
                brown fox
                jumps over the lazy dog. Hello World. Sidebar text will go here. The quick brown fox jumps over
                the lazy
                dog. Hello World. Sidebar text will go here</p>
        </div>
        <div class="popular clear">
            <h3><a href="#">Post title will be go here</a></h3>
            <img src="../../../assets/images/img2.jpg" alt="">
            <p>The quick brown fox jumps over the lazy dog. Hello World. Sidebar text will go here. The quick
                brown fox
                jumps over the lazy dog. Hello World. Sidebar text will go here. The quick brown fox jumps over
                the lazy
                dog. Hello World. Sidebar text will go here</p>
        </div>
        <div class="popular clear">
            <h3><a href="#">Post title will be go here</a></h3>
            <img src="../../../assets/images/img3.jpg" alt="">
            <p>The quick brown fox jumps over the lazy dog. Hello World. Sidebar text will go here. The quick
                brown fox
                jumps over the lazy dog. Hello World. Sidebar text will go here. The quick brown fox jumps over
                the lazy
                dog. Hello World. Sidebar text will go here</p>
        </div>
    </div>

    <div class="samesidebar clear">
        <h2>Sidebar one Header</h2>
        <p>The quick brown fox jumps over the lazy dog. Hello World. Sidebar text will go here</p>
        <p>The quick brown fox jumps over the lazy dog. Hello World. Sidebar text will go here</p>
    </div>

</div>