

.sidebar{
    width: 253px;
    background: #fef4e5;
    border: 1px solid #ded4c5;
    float: right;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 10px;
}

.samesidebar{
    margin-bottom: 10px;
}

.popular h3{
    border-bottom: 1px dotted #b7801c;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.popular h3 a{
    text-decoration: none;
    color: #444;
}
.popular img{
    background: #fff;
    border: 1px solid #f6bf5b;
    float: left;
    height: 70px;
    width: 115px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 3px;
}
.popular p{
    text-align: justify;
}

.samesidebar h2{
    background: #e6af4b ;
    border-bottom: 2px solid #b7801c;
    color: #333;
    margin-bottom: 8px;
    padding: 10px;
}
.samesidebar ul{
    padding: 0; margin: 0; list-style: none;
}
.samesidebar ul li{
    border-bottom: 1px dashed #e9c05c;
    font-size: 16px;
    padding: 5px 8px 5px 0;
}
.samesidebar ul li:last-child{
    border-bottom: 0px dashed #e9c05c;
}
.samesidebar ul li a{
    color: #814a00;
    text-decoration: none;
}
.samesidebar ul li a:hover{
    color: #df5c25;
}
.samesidebar p{
    margin-bottom: 10px;
}