


<div class="slidersection template clear">
    <div id="slider">
        <a><img src="assets/images/slideshow/01.jpg" alt="nature 1" title="JUBORAJ SARKER | EXPERT IT PROFESSIONALS" /></a>
        <a><img src="assets/images/slideshow/02.jpg" alt="nature 2" title="JUBORAJ SARKER | FULL STACK DEVELOPER" /></a>
        <a><img src="assets/images/slideshow/03.jpg" alt="nature 3" title="JUBORAJ SARKER | MOBILE APPLICATION DEVELOPER" /></a>
        <a><img src="assets/images/slideshow/04.jpg" alt="nature 4" title="JUBORAJ SARKER | WEBSITE DEVELOPER" /></a>
        <a><img src="assets/images/slideshow/05.jpg" alt="nature 4" title="JUBORAJ SARKER | GRAPHICS DESIGNER" /></a>
        <a><img src="assets/images/slideshow/06.jpg" alt="nature 4" title="JUBORAJ SARKER | ANGULAR MASTER" /></a>
        <a><img src="assets/images/slideshow/07.jpg" alt="nature 4" title="JUBORAJ SARKER | EXPERT IT PROFESSIONALS" /></a>
        <a><img src="assets/images/slideshow/08.jpg" alt="nature 4" title="Miami-Dade county municipal exchange, Florida, USA" /></a>
    </div>
</div>