<div class="footersection template clear">
    <div class="footermenu clear">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <li><a routerLink="/experience">Job Experience</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/education">Education</a></li>
            <li><a routerLink="/trainingLocal">Training</a></li>
            <li><a routerLink="/certification">Certifications</a></li>
            <li><a routerLink="/award">Awards</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
    <p>&copy; Copyright juborajsarker.com all rights reserve</p>
</div>