<div class="my_container">

    <div class="top_div">
        <p>
            Versatile Full-stack Developer specially skilled in Android, Flutter, and Angular coupled with extensive
            expertise
            in UX/UI design. Proven proficiency in Graphics Designing. <br><span>Let's bring innovation to life !</span>
        </p>
    </div>


    <div class="inner_main">
        <div class="div1">
            <h2>Who Am I </h2>
            <p>
                I spend a lot of time learning new techniques and actively help other people learn Mobile Applications
                Development as well as Web Application development in Angular
                through a variety of help groups. <br> <br> <br>I am a quick learner. I always try to increase my
                knowledge by learning new technology and want to make a good
                relationship with people all over the world.
            </p>
        </div>
        <div class="div2">
            <img src="assets/images/jubo_first_page.jpg" alt="">
        </div>
        <div class="div3">
            <h2>My Service </h2>
            <p>
                People find me to be an upbeat, self-motivated team player with excellent IT skills. For the last
                several years, I
                worked hard to be expert in technology. My service includes: <br> <br>
            </p>
            <ul>
                <li>Mobile Application Development</li>
                <li>Website Design</li>
                <li>Website Development</li>
                <li>Database Administration</li>
                <li>Graphics Design</li>
            </ul>
        </div>
    </div>



    <div class="bottom_div">
        <p>
            <i class="my-quote fa fa-quote-left">&nbsp;</i>
            Act like you can't afford the bread until they find out you own the bakery. 
            &nbsp;<i class="my-quote fa fa-quote-right"></i>
        </p>
    </div>

</div>