<div class="my_container">
  <div class="top_div">
    <p>
      Beyond coding, I'm an avid learner, always seeking out new technologies and methodologies to stay at the forefront of
      the industry. I'm also passionate about sharing knowledge and often contribute to open-source projects and participate
      in tech communities.
    </p>
  </div>

  <div>
    <div class="tab">
      <button class="tablinks active" onclick="openCity(event, 'local')" id="defaultOpen">Local Training</button>
      <button class="tablinks" onclick="openCity(event, 'foreign')">Foreign Training</button>
    </div>

    <div id="local" class="tabcontent my_default">
      <div class="inner_main">
        <div class="child_div">
        
          <table>
            <tbody>
        
        
              <tr>
                <th rowspan="2" id="sl">#</th>
                <th rowspan="2" id="training">Training On</th>
                <th rowspan="2" id="organization">Organization</th>
                <th rowspan="2" id="conducted">Conducted By</th>
                <th rowspan="2" id="venue">Venue</th>
                <th colspan="2">Duration</th>
              </tr>

              <tr>
                <th id="from">From Date</th>
                <th id="to">To Date</th>
              </tr>
        
              <tr>
                <td>01</td>
                <td>Digital simulcast network radio system</td>
                <td>DNCC</td>
                <td>Novatel</td>
                <td>DNCC</td>
                <td>01 Mar 2022</td>
                <td>07 Mar 2022</td>
                
              </tr>
        
        
              <tr>
                <td>02</td>
                <td>Public Procurement Management</td>
                <td>DNCC</td>
                <td>ESCB</td>
                <td>DNCC</td>
                <td>23 May 2022</td>
                <td>24 May 2022</td>
              </tr>
        
        
            <tr>
              <td>03</td>
              <td>Basic disaster risk management</td>
              <td>DNCC</td>
              <td>UNDP</td>
              <td>Gazipur</td>
              <td>18 Sep 2022</td>
              <td>22 Sep 2022</td>
            </tr>
        
        
              <tr>
                <td>04</td>
                <td>EOP and Management of EOC</td>
                <td>DNCC</td>
                <td>UNDP</td>
                <td>Cox's Bazar</td>
                <td>27 Nov 2022</td>
                <td>01 Dec 2022</td>
              </tr>

              <tr>
                <td>05</td>
                <td>City Corporation Related</td>
                <td>DNCC</td>
                <td>NILG</td>
                <td>NILG</td>
                <td>29 Jan 2024</td>
                <td>02 Feb 2024</td>
              </tr>
        
            </tbody>
          </table>
        
        </div>
      </div>
    </div>

    <div id="foreign" class="tabcontent">
      <div class="child_div">
      
        <table>
          <tbody>
        
        
            <tr>
              <th rowspan="2" id="sl">#</th>
              <th rowspan="2" id="venue">Country</th>
              <th rowspan="2" id="training">Training On</th>
              <th rowspan="2" id="organization">Organization</th>
              <th rowspan="2" id="conducted">Conducted By</th>
              <th colspan="2">Duration</th>
            </tr>
        
            <tr>
              <th id="from">From Date</th>
              <th id="to">To Date</th>
            </tr>
        
            <tr>
              <td>01</td>
              <td>Florida, USA</td>
              <td>Miami-Dade county municipal exchange</td>
              <td>DNCC</td>
              <td>CLDP, USA</td>
              <td>17 Jan 2023</td>
              <td>24 Jan 2023</td>
            </tr>
        
          </tbody>
        </table>
      
      </div>
    </div>

    

  </div>


<div class="bottom_div">
  <p>
    <i class="my-quote fa fa-quote-left">&nbsp;</i>
    You will never be criticized by someone who is doing more than you. You will only be criticized by someone doing less than you.
    &nbsp;<i class="my-quote fa fa-quote-right"></i>
  </p>
</div>


</div>