<div class="my_container">
  <div class="top_div">
    <p>
    I thrive on crafting user-centric experiences that not only look great but also provide seamless functionality. Whether
    it's designing elegant user interfaces, implementing complex features, or optimizing performance for various devices,
    I'm always focused on delivering the best possible user experience.
    </p>
  </div>

  <div class="inner_main">
    <div class="child_div">

      <table>
        <tbody>


          <tr>
            <th id="sl">#</th>
            <th id="name">Project Name</th>
            <th id="platform">Platform</th>
            <th id="organization">Organization</th>
            <th id="description">Short Descriptions</th>
            <th id="technology">Technology Used</th>
            <th id="url">Live URL</th>
          </tr>

         

          <tr>
            <td>01</td>
            <td>DNCC Exam Control System (DECS)</td>
            <td>Android & Web (Angular-17)</td>
            <td>DNCC</td>
            <td>Fully automated and smart recruitment system.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>HTML5, CSS3</p>
                <p>Angular-17</p>
                <p>Typescript</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/DECS" target="_blank">View</a>
            </td>
            
          </tr>

          <tr>
            <td>02</td>
            <td>DNCC Revenue Data Collection System</td>
            <td>Android & Web (Angular-17)</td>
            <td>DNCC</td>
            <td>This system has developed to automate the revenue management system in DNCC.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>HTML5, CSS3</p>
                <p>Angular-17</p>
                <p>Typescript</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/DECS" target="_blank">View</a>
            </td>
           
          </tr>

          <tr>
            <td>03</td>
            <td>DNCC Smart Transport</td>
            <td>Web (Angular-17)</td>
            <td>DNCC</td>
            <td>To verify authentic transport of Dhaka North City Corporation via QR code and authorized fully automated DNCC's own sticker.</td>
            <td>
              <div class="div2">
                <p>Oracle 12c</p>
                <p>HTML5, CSS3</p>
                <p>Angular-17</p>
                <p>Typescript</p>
                <p>API</p>
                <p>Angular Material</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/DECS" target="_blank">View</a>
            </td>
           
          </tr>

          <tr>
            <td>04</td>
            <td>Sales Dashboard</td>
            <td>Android & Web (Angular-10)</td>
            <td>Citygroup</td>
            <td>Dashboard for data analysis with day and product wise sorting.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>HTML5, CSS3</p>
                <p>Angular-17</p>
                <p>Typescript</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/DECS" target="_blank">View</a>
            </td>
           
          </tr>

          <tr>
            <td>05</td>
            <td>City Duty</td>
            <td>Android & Web (Angular-10)</td>
            <td>Citygroup</td>
            <td>Fully automated system to pay duty tax based on product and LC.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>HTML5, CSS3</p>
                <p>Angular-17</p>
                <p>Typescript</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/DECS" target="_blank">View</a>
            </td>
          </tr>

          <tr>
            <td>06</td>
            <td>Digital Attendance</td>
            <td>Android</td>
            <td>Citygroup</td>
            <td>Digital attendance system for the employee with face recognition.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>API</p>
                <p>JSON</p>
                <p>XML</p>
                <p>Material Design</p>
                <p>Git</p>
                <p>MVVM</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/DECS" target="_blank">View</a>
            </td>
          </tr>



          <tr>
            <td>07</td>
            <td>Medicare</td>
            <td>Android</td>
            <td>Personal</td>
            <td>Schedule a medicine, add appoint to any doctor. Find pharmacy, hospital & ambulance from user's location and many more.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>API</p>
                <p>JSON</p>
                <p>XML</p>
                <p>Material Design</p>
                <p>Git</p>
                <p>MVVM</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://play.google.com/store/apps/details?id=com.juborajsarker.medicare" target="_blank">View</a>
            </td>
          </tr>



          <tr>
            <td>08</td>
            <td>SMS Scheduler</td>
            <td>Android</td>
            <td>Personal</td>
            <td>Help user to schedule a sms to send it later. User may schedule message with date and time.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>API</p>
                <p>JSON</p>
                <p>XML</p>
                <p>Material Design</p>
                <p>Git</p>
                <p>MVVM</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/SMS_Scheduler"
                target="_blank">View</a>
            </td>
          </tr>


          <tr>
            <td>09</td>
            <td>System Info</td>
            <td>Android</td>
            <td>Personal</td>
            <td>System Info will provide you all information about user's device. User may share apps via ShareIt, Bluetooth, Whatsapp etc</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>API</p>
                <p>JSON</p>
                <p>XML</p>
                <p>Material Design</p>
                <p>Git</p>
                <p>MVVM</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://play.google.com/store/apps/details?id=com.juborajsarker.systeminfo" target="_blank">View</a>
            </td>
          </tr>


          <tr>
            <td>10</td>
            <td>Password Manager</td>
            <td>Android</td>
            <td>Personal</td>
            <td>It will help user to store user's various account password. User can easily view details of all data from password manager.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>API</p>
                <p>JSON</p>
                <p>XML</p>
                <p>Material Design</p>
                <p>Git</p>
                <p>MVVM</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://play.google.com/store/apps/details?id=com.juborajsarker.passwordmanager"
                target="_blank">View</a>
            </td>
          </tr>



          <tr>
            <td>11</td>
            <td>Location Finder</td>
            <td>Android</td>
            <td>Personal</td>
            <td>It is design for searching nearby places from user's location. It will simply take input PlaceType and Radius (in km) from user and show nearest places based on criteria.</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>API</p>
                <p>JSON</p>
                <p>XML</p>
                <p>Material Design</p>
                <p>Git</p>
                <p>MVVM</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/LocationFinder"
                target="_blank">View</a>
            </td>
          </tr>



          <tr>
            <td>12</td>
            <td>Private Message</td>
            <td>Android</td>
            <td>Personal</td>
            <td>It will help an user to encrypt a message. User can share encrypted message to all social media. Have option decrypt message from encrypted message</td>
            <td>
              <div class="div2">
                <p>Java</p>
                <p>Android Studio</p>
                <p>Oracle 12c</p>
                <p>Android SDK</p>
                <p>API</p>
                <p>JSON</p>
                <p>XML</p>
                <p>Material Design</p>
                <p>Git</p>
                <p>MVVM</p>
              </div>
            </td>
            <td>
              <a class="my-p" href="https://github.com/Juboraj-Sarker/PrivateMessage"
                target="_blank">View</a>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>



  <div class="bottom_div">
    <p>
      <i class="my-quote fa fa-quote-left">&nbsp;</i>
      If you find someone better than you don't compete instead work together.
      &nbsp;<i class="my-quote fa fa-quote-right"></i>
    </p>
  </div>

</div>