<div class="my_container">
  <div class="top_div">
    <p>
    My journey in software engineering began with a fascination for technology and a drive to create impactful solutions.
    Throughout my career, I've honed my skills in various programming languages and technologies, with a focus on Mobile Application Development and Website Design & Development as well as Graphic Designing.
    </p>
  </div>

  <div class="inner_main">
    <div class="child_div">

      <table>
        <tbody>


          <tr>
            <th id="sl">#</th>
            <th id="exam">Exam</th>
            <th id="board">Board/University Name</th>
            <th id="result">Result</th>
            <th id="group">Group/Subject</th>
            <th id="session">Session</th>
            <th id="year">Passing Year</th>
          </tr>

        <tr>
          <td>01</td>
          <td>Master of Science (M.Sc)</td>
          <td>Jahangirnagar University</td>
          <td>1<sup>st</sup> Class</td>
          <td>Computer Science</td>
          <td>Summer-22020</td>
          <td>2021</td>
        </tr>


        <tr>
          <td>02</td>
          <td>Bachelor of Science (B.Sc)</td>
          <td>Daffodil International University</td>
          <td>1<sup>st</sup> Class</td>
          <td>Computer Science & Engineering</td>
          <td>Spring-2015</td>
          <td>2019</td>
        </tr>


        <tr>
          <td>03</td>
          <td>Higher Secondary Certificate (H.S.C)</td>
          <td>Dhaka</td>
          <td>1<sup>st</sup> Division</td>
          <td>Science</td>
          <td>2012</td>
          <td>2014</td>
        </tr>


        <tr>
          <td>04</td>
          <td>Secondary School Certificate (S.S.C)</td>
          <td>Dhaka</td>
          <td>1<sup>st</sup> Division</td>
          <td>Science</td>
          <td>2010</td>
          <td>2012</td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>



  <div class="bottom_div">
    <p>
      <i class="my-quote fa fa-quote-left">&nbsp;</i>
      Master you emotions. A calm mind can handle any situation.
      &nbsp;<i class="my-quote fa fa-quote-right"></i>
    </p>
  </div>

</div>