<div class="my_container">
  <div class="top_div">
    <p>
      What excites me most about software development is the opportunity to solve complex problems and continuously learn and
      improve. I'm a firm believer in the power of collaboration and am always eager to work alongside talented individuals to
      bring innovative ideas to life.
    </p>
  </div>

  <div class="inner_main">
    <div class="child_div">

      <div class="my_item">
        <h3>LICT Best Project Award (Android)</h3>
        <div class="inner_container">

          <div class="div1">
            <img src="assets/images/award_1.jpg" alt="">
          </div>

          <div class="div2">
            <table>
              <tr>
                <th>Award Name</th>
                <td>LICT Best Project Award (Android)</td>
              </tr>
              <tr>
                <th>Awarded Project</th>
                <td>Medicare - Your Medical Assistant</td>
              </tr>
              <tr>
                <th>Awarded By</th>
                <td>ICT Division, People's Republic of Bangladesh</td>
              </tr>
              <tr>
                <th>Year</th>
                <td>2018</td>
              </tr>
              <tr>
                <th>Short Descriptions</th>
                <td>Received LICT best project award (Android) from Mustafa Jabbar (Honourable Minister - Ministry of Posts,
                Telecommunication and Information Technology, Govt of Bangladesh). This award was given under the project of LICT. This
                project made 1600 skilled android developer all over the Bangladesh. Among all of them I was awarded as the best android
                developer all over the Bangladesh.</td>
              </tr>
              <tr>
                <th>Live URL</th>
                <td><a class="my-p" href="https://play.google.com/store/apps/details?id=com.juborajsarker.medicare" target="_blank">Click Here</a></td>
              </tr>
            </table>
          </div>

        </div>
      </div>


      <div class="my_item">
        <h3>RIGHT Presents Android Application Contest</h3>
        <div class="inner_container">

          <div class="div1">
            <img src="assets/images/award_2.jpg" alt="">
          </div>

          <div class="div2">
            <table>
              <tr>
                <th>Award Name</th>
                <td>RIGHT Presents Android Application Contest</td>
              </tr>
              <tr>
                <th>Awarded Project</th>
                <td>Medicare - Your Medical Assistant</td>
              </tr>
              <tr>
                <th>Awarded By</th>
                <td>RIGHT IT, Bangladesh</td>
              </tr>
              <tr>
                <th>Year</th>
                <td>2019</td>
              </tr>
              <tr>
                <th>Short Descriptions</th>
                <td>The contest held at Daffodil International University at 24th March 2019. The contest was supported by Bangladesh
                Computer Council (BCC), Organized by RIGHT IT Innovative Organization and Knowledge Partner by Daffodil International
                University. Total 30 projects were shortlisted for the final contest. Among all of them my project (Medicare) was
                awarded as the best android project.</td>
              </tr>
              <tr>
                <th>Live URL</th>
                <td><a class="my-p" href="https://play.google.com/store/apps/details?id=com.juborajsarker.medicare"
                    target="_blank">Click Here</a></td>
              </tr>
            </table>
          </div>

        </div>
      </div>


    </div>
  </div>


<div class="bottom_div">
  <p>
    <i class="my-quote fa fa-quote-left">&nbsp;</i>
    Smile with your eyes more than with your mouth.
    &nbsp;<i class="my-quote fa fa-quote-right"></i>
  </p>
</div>

</div>