<div class="my_container">
    <div class="top_div">
        <p>
            Outside of coding, you can find me exploring the latest tech trends, attending hackathons, or simply enjoying a good cup
            of coffee while brainstorming my next project. Let's connect and build something amazing together !
        </p>
    </div>
</div>


<div class="maincontent clear">
    <div class="about">
        <h2>Contact Us</h2>
        <table>
            <tr>
                <td>Your First Name</td>
                <td>:</td>
                <td><input type="text" name="firstname" placeholder="Enter first name"></td>
            </tr>
            <tr>
                <td>Your Last  Name</td>
                <td>:</td>
                <td><input type="text" name="lastname" placeholder="Enter last name"></td>
            </tr>
            <tr>
                <td>Your Email</td>
                <td>:</td>
                <td><input type="email" name="email" placeholder="Enter email address"></td>
            </tr>
            <tr>
                <td>Your phone number</td>
                <td>:</td>
                <td><input type="text" name="phone" placeholder="Enter contact number"></td>
            </tr>
            <tr>
                <td>Your Message</td>
                <td>:</td>
                <td><textarea name="message"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </div>
</div>
