<div class="my_container">
    <div class="top_div">
        <p>
            Outside of coding, you can find me exploring the latest tech trends, attending hackathons, or simply enjoying a good cup
            of coffee while brainstorming my next project. Let's connect and build something amazing together !
        </p>
    </div>
</div>


<div class="maincontent clear">
    <div class="about">
        <h2>Contact Me</h2>
        <table>
            <tr>
                <td class="td1">Your First Name</td>
                <td class="td2">:</td>
                <td class="td3"><input type="text" name="firstname" placeholder="Enter first name"></td>
            </tr>
            <tr>
                <td class="td1">Your Last  Name</td>
                <td class="td2">:</td>
                <td class="td3"><input type="text" name="lastname" placeholder="Enter last name"></td>
            </tr>
            <tr>
                <td class="td1">Your Email</td>
                <td class="td2">:</td>
                <td class="td3"><input type="email" name="email" placeholder="Enter email address"></td>
            </tr>
            <tr>
                <td class="td1">Your phone number</td>
                <td class="td2">:</td>
                <td class="td3"><input type="text" name="phone" placeholder="Enter contact number"></td>
            </tr>
            <tr>
                <td class="td1">Your Message</td>
                <td class="td2">:</td>
                <td class="td3"><textarea name="message"></textarea></td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td3"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </div>
</div>


<div class="bottom_div">
    <p>
        <i class="my-quote fa fa-quote-left">&nbsp;</i>
       A winner is just a looser who tried one more time.
        &nbsp;<i class="my-quote fa fa-quote-right"></i>
    </p>
</div>
