


<div class="headersection template clear">
    <div class="logo">
        <img src="../../../../assets/images/juboraj100.png" alt="Logo">
        <h2>Juboraj Sarker<span>.com</span></h2>
        <p>Expert IT Professional</p>
    </div>
    <div class="social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
    </div>
</div>