<div class="my_container">
  <div class="top_div">
    <p>
      I have a solid background in creating complex Mobile Application for Android & Responsive Web Application in
      Angular. I am a key guy that has the ability to
      work alone, or lead a team when the need arises. I'm always dedicated to continuously discovering,
      evaluating and
      implementing new technologies. Known for excellent troubleshooting skills, ability to analyze code, optimize
      existing
      system for better performance and track record of proper documentation for future maintenance and upgrades.
    </p>
  </div>

  <div >
    <div class="tab">
      <button class="tablinks active" onclick="openCity(event, 'professional')" id="defaultOpen">Professional Skills</button>
      <button class="tablinks" onclick="openCity(event, 'code')">Coding Skills</button>
      <button class="tablinks" onclick="openCity(event, 'software')">Software Skills</button>
      <button class="tablinks" onclick="openCity(event, 'database')">Database Skills</button>
      <button class="tablinks" onclick="openCity(event, 'tools')">Tools/Technologies Skills</button>
    </div>
    
    <div id="professional" class="tabcontent my_default">
      <div class="inner_main">
        <div class="child_div">
          <div class="my_item">
            <h3>Mobile Application Development</h3>
            <div class="inner_container">
      
              <div class="div1">
                <img src="assets/images/mad.jpg" alt="">
              </div>
              <div class="div2">
                <p>Java</p>
                <p>Kotlin</p>
                <p>Dart</p>
                <p>Android Studio</p>
                <p>Android SDK</p>
                <p>Flutter</p>
                <p>Firebase</p>
                <p>SQLite</p>
                <p>XML</p>
                <p>JSON</p>
                <p>Git</p>
                <p>Retrofit</p>
                <p>UI/UX</p>
                <p>Android Jetpack</p>
                <p>Location Service</p>
                <p>Google Maps API</p>
                <p>Localization</p>
                <p>Material Design</p>
                <p>Push Notifications</p>
                <p>Design Patterns(MVC,MVP,MVVM)</p>
                <p>App Monetization</p>
                <p>Crash Reporting</p>
                <p>App Publishing</p>
      
              </div>
            </div>
          </div>
      
      
          <div class="my_item">
            <h3>Website Design & Development</h3>
            <div class="inner_container">
      
              <div class="div1">
                <img src="assets/images/web.jpg" alt="">
              </div>
              <div class="div2">
                <p>HTML5</p>
                <p>CSS3</p>
                <p>ANGULAR 17</p>
                <p>Typescript</p>
                <p>Node.js</p>
                <p>Javascript</p>
                <p>Wordpress</p>
                <p>Elementor</p>
                <p>ASP.NET</p>
                <p>Firebase</p>
                <p>MY SQL</p>
                <p>Bootstrap</p>
                <p>JSON</p>
                <p>Git</p>
                <p>C Panel</p>
                <p>VPS</p>
                <p>UI/UX</p>
                <p>RDLC</p>
                <p>PL/SQL</p>
                <p>Responsive Web Design</p>
                <p>Version Control</p>
                <p>Oracle 12c</p>
                <p>SQL Developer Tools</p>
                <p>API Integration</p>
                <p>IIS Hosting</p>
              </div>
            </div>
          </div>
      
      
          <div class="my_item">
            <h3>Graphics Design</h3>
            <div class="inner_container">
      
              <div class="div1">
                <img src="assets/images/graphics2.jpg" alt="">
              </div>
              <div class="div2">
                <p>Adobe Photoshop</p>
                <p>Adobe Illustrator</p>
                <p>Adobe After Effects</p>
                <p>Figma</p>
                <p>Logo Designing</p>
                <p>Business Card Design</p>
                <p>Poster Design</p>
                <p>Banner Design</p>
                <p>UI/UX</p>
                <p>Mockup</p>
                <p>Illustration</p>
                <p>Web Design</p>
                <p>Digital Art</p>
      
              </div>
            </div>
          </div>
      
      
      
      
      
      
      
        </div>
      </div>
    </div>
    
    <div id="code" class="tabcontent">
      <table>
        <tr>
          <th>C</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>

          <th>C#</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        <tr>
          <th>Java</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        
          <th>Javascript</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        <tr>
          <th>Typescript</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        
          <th>Dart</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        <tr>
          <th>HTML5</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        
          <th>CSS3</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>

        <tr>
          <th>Kotlin</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        
          <th>Python</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        
      </table>
    </div>
    
    <div id="software" class="tabcontent">
      <table>
        <tr>
          <th>Android Studio</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
      
          <th>Eclipse</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>
      
        <tr>
          <th>Netbeans</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
      
          <th>Oracle SQL Developer Tools</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>
      
        <tr>
          <th>Adobe Photoshop</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
      
          <th>Adobe Illustrator</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        <tr>
          <th>Adobe After Effect</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </td>
        
          <th>Figma</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>
      
        <tr>
          <th>Microsoft Office</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
      
          <th>Microsoft Excel</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>
      
        <tr>
          <th>Microsoft Powerpoint</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
      
          <th>Visual Studio</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        <tr>
          <th>Visual Studio Code</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        
          <th>JetBrains IDE</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>
      
        <tr>
          <th>XAMPP</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </td>
        
          <th>WAMP Server</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        
      
      </table>
    </div>

    <div id="database" class="tabcontent">
      <div class="my_db">
        <table>
          <tr>
            <th>Oracle 12c</th>
            <td>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </td>
          </tr>
        
          <tr>
            <th>MySQL Database</th>
            <td>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </td>
          </tr>
        
          <tr>
            <th>SQLite Dtabase</th>
            <td>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </td>
          </tr>
        
          <tr>
            <th>Firebase Realtime Database</th>
            <td>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </td>
          </tr>
        
        
        </table>
      </div>
    </div>

    <div id="tools" class="tabcontent">
      <table>
        <tr>
          <th>Android SDK</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
      
          <th>Gradle</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>
      
        <tr>
          <th>API Development</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
      
          <th>Retrofit</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>
      
        <tr>
          <th>JSON</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
      
          <th>XML</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>
      
        <tr>
          <th>Git</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
      
          <th>Google Maps API</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>
      
        <tr>
          <th>Android Location Service</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
      
          <th>Android Material Design</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>

        <tr>
          <th>Angular Material</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        
          <th>Bootstrap</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>

        <tr>
          <th>Web Service</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        
          <th>Node.js</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>

        <tr>
          <th>RDLC (Reporting)</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        
          <th>Angular Guard</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </td>
        </tr>
      
        <tr>
          <th>Stored Procedure</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        
          <th>Flutter</th>
          <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </td>
        </tr>
      
      </table>
    </div>

  </div>




  
  <div class="bottom_div">
    <p>
      <i class="my-quote fa fa-quote-left">&nbsp;</i>
      In life two things define you. Your patience when you have nothing & your attitude when you have everything.
      &nbsp;<i class="my-quote fa fa-quote-right"></i>
    </p>
  </div>

</div>
