<div class="my_container">
  <div class="top_div">
    <p>
    I'm a strong believer in the power of collaboration and teamwork. I thrive in environments where diverse perspectives
    come together to solve problems and innovate. Whether it's working closely with cross-functional teams or mentoring
    junior developers, I enjoy fostering a culture of learning and collaboration.
    </p>
  </div>

  <div class="inner_main">
    <div class="child_div">

      <table>
        <tbody>


          <tr>
            <th id="sl">#</th>
            <th id="certification">Certification On</th>
            <th id="organization">Certified By</th>
            <th id="description">Short Description</th>
            <th id="venue">Venue</th>
            <th id="duration">Duration</th>
            <th id="year">Year</th>
          </tr>

         

          <tr>
            <td>01</td>
            <td>Mobile Application Development (Android)</td>
            <td>Finance Division. Ministry of Finance, Govt of Bangladesh.</td>
            <td>This certification is under the training program of Mobile Application Development. This was held from 06/12/2016 -
            16/03/2017. at BASIS Institute of Technology and Management (BITM). HR development wings of Bangladesh Association of
            Software and Information Services (BASIS) supported by the Skill for Employment Investment Program (SEIP) under Finance
            Division. Ministry of Finance, Govt of Bangladesh. <a class="my-p" href="https://drive.google.com/file/d/1lZMf3Ltx8xlhrQNBdVL7aTf-hwrf0Rjp/view" target="_blank">View Certificate</a></td>
            <td>BITM Training Lab</td>
            <td>03 Months</td>
            <td>2017</td>
          </tr>

          <tr>
            <td>02</td>
            <td>Mobile Application Development (Android)</td>
            <td>George Washington University, USA.</td>
            <td>This course has conducted by Ernst & Young LLP, India under Leveraging ICT for Growth, Employment and Governance (LICT)
            Project of Bangladesh Computer Council (BCC), ICT Division, People's Republic of Bangladesh on Android under NASSCOM
            IT-ITES Sector Skill Council (SSC) Certification. The program is certified by George Washington University, USA. <a class="my-p" href="https://drive.google.com/file/d/1netUVtLDA0TmeaAFF5cDSOwivUGqhJWg/view" target="_blank">View Certificate</a></td>
            <td>US Software Ltd</td>
            <td>03 Months</td>
            <td>2018</td>
          </tr>

        

        

        </tbody>
      </table>

    </div>
  </div>


  <div class="bottom_div">
    <p>
      <i class="my-quote fa fa-quote-left">&nbsp;</i>
      When you become lazy it's disrespectful to those who believe in you.
      &nbsp;<i class="my-quote fa fa-quote-right"></i>
    </p>
  </div>


</div>