<div class="my_container">
  <div class="top_div">
    <p>
      I have a solid background in creating complex Mobile Application for Android & Responsive Web Application in
      Angular. I am a key guy that has the ability to
      work alone, or lead a team when the need arises. I'm always dedicated to continuously discovering,
      evaluating and
      implementing new technologies. Known for excellent troubleshooting skills, ability to analyze code, optimize
      existing
      system for better performance and track record of proper documentation for future maintenance and upgrades.
    </p>
  </div>
</div>