<div class="my_container">

    <div class="top_div">
        <p>
            I am a passionate Full Stack Developer with a love for crafting clean, efficient code and building awesome digital
            experiences. With 5 years+ of experience in the industry, I've had the privilege of working on a diverse range
            of projects, from dynamic web applications to robust backend systems as well as complex Mobile Applications.
        </p>
       
    </div>


    <div class="inner_main">
        <div class="div1">
            <h2>Personal Info</h2>
            <table>
                <tbody>

                    <tr>
                        <th>Name:</th>
                        <td>
                            JUBORAJ SARKER
                        </td>
                    </tr>

                    <tr>
                        <th>Religion:</th>
                        <td>
                            Islam
                        </td>
                    </tr>

                    <tr>
                        <th>Date of Birth:</th>
                        <td>
                            10<sup>th</sup> April, 1996
                        </td>
                    </tr>

                    <tr>
                        <th>Address:</th>
                        <td>
                            Dhaka, Bangladesh
                        </td>
                    </tr>

                    <tr>
                        <th>Nationality:</th>
                        <td>
                            Bangladeshi
                        </td>
                    </tr>

                    <tr>
                        <th>Langualge:</th>
                        <td>
                            Bengali, English
                        </td>
                    </tr>


                    <tr>
                        <th>Phone:</th>
                        <td>
                            +88 01938365335
                        </td>
                    </tr>


                    <tr>
                        <th>Email 1:</th>
                        <td>
                            {{email}}
                        </td>
                    </tr>

                    <tr>
                        <th>Email 2:</th>
                        <td>
                            {{email2}}
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="div2">

            <img src="../../../assets/images/juboraj_about.jpg" alt="">
        </div>

        <div class="div3">
            <h2>Hobbies & Interests</h2>
            <p>
                I've been passionate about hobbies my whole life. I love learning, collecting, researching and
                developing new skills.
                Some of these skills have proven useful in my career, and some are just for me to enjoy. These are the
                list of my some
                favourite hobbies:
            </p>
            <table>
                <tr>
                    <td>
                        <i class="fa fa-plane"></i> <br>
                        <p>
                            Travelling
                        </p>
                    </td>
                    <td>
                        <i class="fa fa-rocket"></i> <br>
                        <p>Space</p>
                    </td>
                    <td>
                        <i class="fa fa-music"></i> <br>
                        <p>Music</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa fa-book"></i> <br>
                        <p>Reading</p>
                    </td>
                    <td>
                        <i class="fa fa-camera"></i> <br>
                        <p>Photography</p>
                    </td>
                    <td>
                        <i class="fa fa-puzzle-piece"></i> <br>
                        <p>Puzzle</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa fa-gamepad"></i> <br>
                        <p>Gaming</p>
                    </td>
                    <td>
                        <i class="fa fa-file-movie-o"></i> <br>
                        <p>Movies</p>
                    </td>
                    <td>
                        <i class="fa fa-laptop"></i> <br>
                        <p>Browsing</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>