.my_container{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.top_div p{
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    background: #dff9fb;
    margin: 15px 0px;
}

.top_div p:first-letter{
    font-size: 25px;
    font-weight: bold;
}


.inner_main{
    display: flex;
    box-sizing: border-box;
    background: #ecf0f1;
    padding: 10px;
    
}

.div1, .div2, .div3{
    width: 100%;
    height: 100%;
    margin: 0px 5px;
    
}

.div1, .div3{
    border: 1px solid #ded4c5;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    
}

.div1{
    border: none;
}

.div1 h2{
    background: #e67e22;
    padding: 10px;

}

.div1 p{
    font-size: 16px;
    font-style: normal;
    text-align: justify;
    padding: 12px;
    line-height: 25px;
}

.div1 table{
    width: 100%;
    border-collapse: collapse;
}

.div1 table th, td{
    padding: 10px;
    border: 1px solid #ded4c5;
    
}



.div1 table th{
    text-align: left;
}

.div2 {
    box-sizing: border-box;
}


.div2 img{
    width: 100%;
    height: 407px;
    background: #fff;
    border: 1px solid #ccc;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
}
.div2 h2{
    background: #e67e22;
    padding: 10px;
    display: block;
    overflow: hidden;

}
.div3 h2{
    background: #e67e22;
    padding: 10px;

}

.div3 p{
    font-size: 16px;
    font-style: normal;
    text-align: justify;
    padding: 12px;
    line-height: 22px;
}

.div3 table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 6px;
}

.div3 table tr{
    width: 100%;
}
.div3 table td{
    width: 33%;
    text-align: center;
}
.div3 table td p{
    display: inline-block;
    padding: 0;
}




.bottom_div p{
    padding: 20px 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    background: #dff9fb;
    margin: 15px 0px;
}

.my-quote{
    font-size: 35px;
    color: #B7801C;
}